footer.m-footer
    div.container
        div.row
            div.col-sm-7
                div.row
                    div.col-sm-3
                        img.m-footer-logo(src=ftConfig.footerLogo)/
                    div.col-sm-9
                        div.m-footer__info(style={'margin-top': '26px'})
                            div.name #{ftConfig.footerInfo.companyName}
                            ul.list
                                li.tel #{'联系方式：' + ftConfig.footerInfo.tel}
                                //- li.email #{'电子邮箱：' + ftConfig.footerInfo.email}
                                li.address #{'地址：' + ftConfig.footerInfo.address}
            div.col-sm-5.text-center
                each item in ftConfig.footerInfo.qrcode
                    div.col-sm-4
                        div.m-footer-qrcode
                            img(src=item.imgUrl)
                            div.text #{item.text}
each item in ftConfig.footerInfo.scripts
    script(src=item)